<div class="container mb-0 pb-0 w-50">
    <div class="col-12 text-white pt-4 pb-5 my-5">
        <div id="carouselExampleControls" class="carousel slide mt-4 carousel-fade" data-bs-interval="2500">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="<%= image_path 'book_exchanger.png' %>" class="d-block w-100" alt="book_exchanger">
            </div>
            <div class="carousel-item">
            <img src="<%= image_path 'tweetie.png' %>" class="d-block w-100" alt="tweetie">
            </div>
            <div class="carousel-item">
            <img src="<%= image_path 'weather_app.png' %>" class="d-block w-100" alt="weather_app">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
</div>