<nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="/">
    <%= image_tag "logo_size.jpg", class: "img-fluid mx-auto d-block nav-logo", alt: "Javiera Hidalgo" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-top " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Main Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-1">
          <li class="nav-item">
            <%= link_to "About me", about_me_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Work", my_work_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Certificates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>