<div class="container title">
    <div class="row">
        <div class="col-md-6">
            <h1 class="my-5">About me</h1>
            <p> Hi! My name is Javiera Hidalgo. I'm a junior front-end </p> 
            <p> developer and junior full stack developer, based in Santiago, </p> 
            <p> Chile. I'm originally a pre-school teacher, but I wanted to </p>
            <p> make a change in my life, so I started to learn about coding </p>
            <p> in 2020. I've worked on projects using HTML, CSS, JS, API </p>  
            <p> integrations, Ruby on Rails, Responsive Development, Heroku, </p>
            <p> Netlify, Bootstrap and Github. I'm really curious and a fast </p>
            <p> learner, always looking for new challenges and new ways </p>
            <p> to improve myself. I'm a native Spanish speaker and I have </p>
            <p> an advanced (C2) English level, so I can actually speak and work </p>
            <p> on both languages. </p>
        </div>
        <div class="col-md-6">
            <%= image_tag "javiera2.jpg", class: "img-fluid mx-auto d-block about-img", alt: "Javiera Hidalgo" %>
        </div>
    </div>
</div>
