<div class="container pt-4">
    <h1 class="py-5">My certificates</h1>
    <div class="row py-5">
        <div class="col-md-6">
            <%= image_tag 'basic', class: 'img-responsive', alt: 'Certificate', width: 320, height: 250 %>
        </div>
        <div class="col-md-6 my-1 px-5">
            <h3 class="mb-3">She Codes Basics</h3>
            <p> I completed the She Codes Basics course. </p>
            <p> I learned a lot about HTML, CSS, and JavaScript, </p>
            <p> and I learned about the basics of web development.</p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-6">
            <%= image_tag 'plus', class: 'img-responsive', alt: 'Certificate', width: 320, height: 250 %>
        </div>
        <div class="col-md-6 my-1 px-5">
            <h3 class="mb-3">She Codes Plus</h3>
            <p> Second course on SheCodes.</p>
            <p> This time I learned more about HTML, CSS,</p>
            <p> and JavaScript, and I also learned about Git  </p>
            <p> and GitHub, APIs, hosting, Visual Studio Code, </p>
            <p> Bootstrap, and more.</p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-6">
            <%= image_tag 'full-stack', class: 'img-responsive', alt: 'Certificate', width: 360, height: 250 %>
        </div>
        <div class="col-md-6 my-1 px-5">
            <h3 class="mb-3">Full Stack Ruby on Rails Developer</h3>
            <p> I completed the Full Stack Ruby on Rails </p>
            <p> Developer course on Desafio Latam. It was an </p>
            <p> enriching experience. I kept learning about </p>
            <p> web development, and I learned about the basics </p>
            <p> of Ruby on Rails. I also deepened my HTML, </p>
            <p> CSS, JavaScript and Git/GitHub knowledge.</p>
        </div>
    </div>
</div>

